@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-crust: #181926;
  --color-mantle: #1e2030;
  --color-base: #24273a;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
